body {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

/* background */
.login-page::before,
.register-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #03a9f4;
    opacity: 0.8;
}

/* Form styles */
.form {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 400px;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
    padding: 50px;
    box-sizing: border-box;
}

.form h2 {
    color: #777;
    margin: 0 0 40px;
    padding: 0;
}

.form .input-box {
    position: relative;
    margin: 20px 0;
}

.form .input-box input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
    padding: 10px;
    padding-left: 30px;
    box-sizing: border-box;
    font-weight: bold;
    color: #777;
}

.form .input-box input:focus,
.form .input-box input:valid {
    border-bottom-color: #03a9f4;
}

.form .input-box .fa {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 18px;
    color: #777;
}

.form .input-box input[type="submit"] {
    border: none;
    cursor: pointer;
    background-color: #03a9f4;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

.form .input-box input[type="submit"]:hover {
    background-color: #ff4987;
}

.form a {
    text-decoration: none;
    color: #777;
    margin-top: 20px;
    font-weight: bold;
    display: inline-block;
    transition: 0.5s;
}

.form a:hover {
    color: #ff4987;
}

/* Nav bar  */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(249, 231, 159, 0.6);
    position: sticky;
    display: block;
    top: 0;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
}

.navbar li a:hover {
    background-color: gray;
}

.navbar li a i {
    margin-right: 5px;
}

/* Footer styles */
footer {
            color: white;
            padding: 20px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .footer-icons {
            font-size: 24px;
            margin-bottom: 20px;
             text-align: center ;
        }
        .footer-icons a {
            color: black;
            margin: 0 15px;
            text-decoration: none;
        }
        .footer-icons a:hover {
            color: blue;
        }
        .copyright {
            color: black;
            margin-top: 10px;
        }

.copyright {
    position: absolute;
    color: black;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}


.photo {
    width: 800px;
    height: 800px;
    background-image: url('/photo/store.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    right: 70px;
    top: 60%;
    opacity: 0.5;
    transform: translateY(-50%);
}

.button-category {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.button-category a {
    display: block;
    margin-top: 10px;
    font-size: 2em;
    color: black;
    text-decoration: none;
}

.button-category button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
