<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Summary</title>
    <script src="https://kit.fontawesome.com/3c8e6a35e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        body {
            font-family: Verdana, sans-serif;
            text-align: center;
        }
        .cart-badge {
            background-color: transparent;
            color: black;
            margin-left: 0.5mm;
            display: inline-block;
            vertical-align: middle;
        }
        .cart-icon {
            position: relative;
            display: inline-block;
        }
        .cart-container {
            margin: 50px auto;
            width: 70%;
        }
        .cart-table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: hidden;
        }
        .cart-table th, .cart-table td {
            padding: 10px;
            text-align: left;
        }
        .cart-table th {
            background-color: #f2f2f2;
            border-bottom: 2px solid #000;
        }
        .cart-table td {
            border-bottom: 1px solid #ddd;
        }
        .cart-table td:last-child {
            border-bottom: none;
        }
        .cart-table .plant-name {
            font-style: italic;
            font-weight: bold;
        }
        .btn {
            background-color: gray;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            margin: 5px;
            border-radius: 5px;
        }
        .btn:hover {
            background-color: #555;
        }
        .cart-total {
            font-size: 20px;
            font-weight: bold;
            text-align: right;
            padding-right: 100px;
            padding-top: 20px;
            font-family: Verdana, sans-serif;
        }
        .cart-link, .place-order-btn {
            display: inline-block;
            margin: 10px 0;
            text-decoration: none;
            color: white;
            background-color: gray;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
        }
        .cart-link:hover, .place-order-btn:hover {
            background-color: #555;
        }
        h2 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: left;
            font-family: Verdana, sans-serif;
        }
        .footer-icons a {
            color: black;
            margin: 0 10px;
        }
    </style>
</head>
<body>
<nav>
    <ul class="navbar">
        <li style="float:right" th:if="${isLoggedIn}">
            <a th:href="@{/home}"><i class="fa fa-user"></i> <span th:text="'Welcome, ' + ${name}"></span></a>
        </li>
        <li><a th:href="@{/register}"><i class="fa fa-plus"></i>Create Account</a></li>
        <li><a th:href="@{/plants/create}"><i class="fa-solid fa-hand-holding-dollar"></i>Sell</a></li>
        <li><a th:href="@{/plants/all}"><i class="fa fa-seedling"></i> Plants </a></li>
        <li><a th:href="@{/cart}" class="cart-icon"><i class="fa fa-shopping-cart"></i> Cart<span id="cart-count"
                                                                                                  class="cart-badge">(0)</span></a>
        </li>
    </ul>
</nav>
<div class="cart-container">
    <h2>Order Summary</h2>
    <div th:if="${cartItems == null or cartItems.isEmpty()}">
        <p>Your cart is empty</p>
    </div>
    <div th:if="${cartItems != null and not cartItems.isEmpty()}">
        <table class="cart-table">
            <thead>
            <tr>
                <th>Plant Image</th>
                <th>Plant Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cartItems}">
                <td>
                    <img th:src="@{/photo/{imageFile}(imageFile=${item.imageFile})}" alt="Plant Image"
                         style="width: 200px; height: 150px;">
                </td>
                <td class="plant-name" th:text="${item.plantName}"></td>
                <td><span th:text="${item.quantity}"></span> /buc</td>
                <td><span th:text="${item.price}"></span> RON</td>
                <td>
                    <form th:action="@{/cart/remove}" method="post" class="d-inline">
                        <input type="hidden" name="plantId" th:value="${item.plantId}"/>
                        <button type="submit" class="btn"><i class="fa-solid fa-trash"></i> Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="cart-total">
            <p>Total: <span th:text="${#numbers.formatDecimal(totalPrice, 1, 2)}"></span> RON</p>
        </div>
        <a href="/plants/all" class="cart-link"><i class="fa fa-arrow-left"></i> Continue Shopping</a>
        <form th:action="@{/order}" method="get">
            <button type="submit" class="btn place-order-btn"><i class="fa fa-check"></i> Place Order</button>
        </form>
    </div>
</div>
<footer>
    <p class="copyright">&copy; 2024 IPlants. All rights reserved.</p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateCartCount() {
        $.ajax({
            url: '/cart/count',
            method: 'GET',
            success: function(count) {
                $('#cart-count').text('(' + count + ')');
            },
            error: function() {
                console.error('Failed to fetch cart count');
            }
        });
    }

    // Call updateCartCount on page load
    $(document).ready(function() {
        updateCartCount();
    });

    // Function to update the cart count after adding or removing items
    function addToCart(itemId) {
        // Your logic to add item to cart
        // Call updateCartCount to refresh the count
        updateCartCount();
    }

    $('form').on('submit', function() {
        updateCartCount();
    });

</script>
</body>
</html>
