<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Plant</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://kit.fontawesome.com/3c8e6a35e2.js" crossorigin="anonymous"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            font-family: Verdana, sans-serif;
            margin: 0;
        }
        nav {
            width: 100%;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex: 1;
            margin-top: 2.5cm;
            margin-bottom: 2cm;
        }
        .container img {
            width: 400px;
            height: auto;
            margin: auto;
        }
        .left-image {
            width: 400px;
            height: auto;
            margin: auto;
        }
        .right-image {
            width: 400px;
            height: auto;
            margin: auto;
        }
        form {
            width: 35%;
            padding: 1.5rem;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #f9f9f9;
            margin-top: -4rem;
        }
        p {
            margin: 0.75rem 0;
        }
        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: bold;
        }
        input[type="text"],
        input[type="number"],
        textarea,
        select {
            width: 100%;
            padding: 0.5rem;
            border: 2px solid #ccc;
            border-radius: 25px;
            box-sizing: border-box;
            font-family: Verdana, sans-serif;
        }
        .short-input {
            width: 60%;
        }
        button {
            display: block;
            width: 100%;
            padding: 1rem;
            font-size: 1.2rem;
            color: white;
            background-color: gray;
            border: none;
            border-radius: 25px;
            cursor: pointer;
        }
        button:hover {
            background-color: darkgray;
        }
        footer {
            color: white;
            text-align: center;
            padding: 10px 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        .footer-icons {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .footer-icons a {
            color: black;
            margin: 0 15px;
            text-decoration: none;
        }
        .footer-icons a:hover {
            color: blue;
        }
        .copyright {
            color: black;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<nav>
    <ul class="navbar">
        <li style="float:right" th:if="${isLoggedIn}">
            <a th:href="@{/home}"><i class="fa fa-user"></i> <span th:text="'Welcome, ' + ${name}"></span></a>
        </li>
        <li><a th:href="@{/register}"><i class="fa fa-plus"></i>Create Account</a></li>
        <li><a th:href="@{/plants/create}"><i class="fa-solid fa-hand-holding-dollar"></i>Sell</a></li>
        <li><a th:href="@{/plants/all}"><i class="fa fa-seedling"></i> Plants </a></li>
        <li><a th:href="@{/cart}" class="cart-icon"><i class="fa fa-shopping-cart"></i> Cart<span id="cart-count"
                                                                                                  class="cart-badge">(0)</span></a>
        </li>
    </ul>
</nav>

<div class="container">
    <img src="/photo/left.jpg" alt="Left Image" class="left-image">
    <form action="#" th:action="@{/plants/create}" th:object="${plant}" method="post">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required maxlength="255"/>
        </p>
        <p>
            <label for="description">Description:</label>
            <textarea id="description" th:field="*{description}" required rows="4" cols="50"></textarea>
        </p>
        <p>
            <label for="price">Price:</label>
            <input type="text" id="price" th:field="*{price}" required/>
        </p>
        <p>
            <label for="imageFile">Image File:</label>
            <input type="text" id="imageFile" th:field="*{imageFile}" required maxlength="255"/>
        </p>
        <p>
            <label for="plantCategory">Category:</label>
            <select id="plantCategory" th:field="*{plantCategory}" class="short-input">
                <option value="FLOWER">Flower</option>
                <option value="TREE">Tree</option>
                <option value="SHRUB">Shrub</option>
                <option value="HERB">Herb</option>
            </select>
        </p>
        <p>
            <label for="water">Water:</label>
            <input type="text" id="water" th:field="*{water}" required maxlength="255"/>
        </p>
        <p>
            <label for="sun">Sun Exposure:</label>
            <input type="text" id="sun" th:field="*{sun}" required maxlength="255"/>
        </p>
        <p>
            <label for="soil">Soil:</label>
            <input type="text" id="soil" th:field="*{soil}" required maxlength="255"/>
        </p>
        <p>
            <label for="temperature">Temperature:</label>
            <input type="text" id="temperature" th:field="*{temperature}" required maxlength="255"/>
        </p>
        <p>
            <button type="submit">Create Plant</button>
        </p>
    </form>
    <img src="/photo/right.jpg" alt="Right Image" class="right-image">
</div>

<footer>
    <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <p class="copyright">&copy; 2024 IPlants. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateCartCount() {
        $.ajax({
            url: '/cart/count',
            method: 'GET',
            success: function(count) {
                $('#cart-count').text('(' + count + ')');
            },
            error: function() {
                console.error('Failed to fetch cart count');
            }
        });
    }

    $(document).ready(function() {
        updateCartCount();
    });

    function addToCart(itemId) {
        updateCartCount();
    }

    $('form').on('submit', function() {
        updateCartCount();
    });

</script>
</body>
</html>
