<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlantMe</title>
    <script src="https://kit.fontawesome.com/3c8e6a35e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        .cart-badge {
            background-color: transparent;
            color: black;
            margin-left: 0.5mm;
            display: inline-block;
            vertical-align: middle;
        }
        .cart-icon {
            position: relative;
            display: inline-block;
        }
        .services {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }
        .service-item {
            text-align: center;
        }
        .service-item i {
            font-size: 2em;
        }

           .description {
    text-align: left;
    margin-left: 150px;
    margin-top: 150px;
    padding: 15px;
    font-family: Verdana, sans-serif;
    width: 80%;
    max-width: 600px;
    background-color: #fff8dc;
    border: 1px solid #f5deb3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    white-space: pre-line; /* This ensures text formatting like in a word file */
    line-height: 1.5; /* Adjust this for better readability if needed */
}

.footer-icons{

    font-size: 30px;
    margin-bottom: 9px;
    text-align: left;
    margin-left: 148px;
    margin-top: 201px;
    }




    </style>
</head>
<body>

<nav>
    <ul class="navbar">
        <li style="float:right" th:if="${isLoggedIn}">
            <a th:href="@{/home}"><i class="fa fa-user"></i> <span th:text="'Welcome, ' + ${name}"></span></a>
        </li>
        <li><a th:href="@{/register}"><i class="fa fa-plus"></i>Create Account</a></li>
        <li><a th:href="@{/plants/create}"><i class="fa-solid fa-hand-holding-dollar"></i>Sell</a></li>
        <li><a th:href="@{/plants/all}"><i class="fa fa-seedling"></i> Plants </a></li>
        <li><a th:href="@{/cart}" class="cart-icon"><i class="fa fa-shopping-cart"></i> Cart<span id="cart-count"
                                                                                                  class="cart-badge">(0)</span></a>
        </li>
    </ul>
</nav>

<div class="services">
    <div class="service-item">
        <i class="fa fa-truck"></i>
        <h3>Free Delivery</h3>
        <p>On orders over 399 RON</p>
    </div>
    <div class="service-item">
        <i class="fa fa-shield-alt"></i>
        <h3>Plant Guarantee</h3>
        <p>For 90 days</p>
    </div>
    <div class="service-item">
        <i class="fa fa-undo"></i>
        <h3>Free Returns</h3>
        <p>Within 30 days</p>
    </div>
</div>


<div class="photo"></div>

<div class="description">
    <p>The store was founded in 2024 with a mission to
        bring a diverse range of plants to your home and outdoor spaces.
        Whether you're looking to create a serene indoor garden
        or enhance your backyard with beautiful greenery, we have something for every plant enthusiast.
        Explore our wide selection and discover the perfect plants
        to transform your space into a green oasis.</p>
</div>

<div class="footer-icons">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
</div>

<footer>
    <p class="copyright">&copy; 2024 PlantMe. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateCartCount() {
        $.ajax({
            url: '/cart/count',
            method: 'GET',
            success: function(count) {
                $('#cart-count').text('(' + count + ')');
            },
            error: function() {
                console.error('Failed to fetch cart count');
            }
        });
    }

    // Call updateCartCount on page load
    $(document).ready(function() {
        updateCartCount();
    });

    // Function to update the cart count after adding or removing items
    function addToCart(itemId) {
        // Your logic to add item to cart
        // Call updateCartCount to refresh the count
        updateCartCount();
    }

    $('form').on('submit', function() {
        updateCartCount();
    });

</script>
</body>
</html>
