<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://kit.fontawesome.com/3c8e6a35e2.js" crossorigin="anonymous"></script>
    <style>
        .cart-badge {
            background-color: transparent;
            color: black;
            margin-left: 0.5mm;
            display: inline-block;
            vertical-align: middle;
        }
        .cart-icon {
            position: relative;
            display: inline-block;
        }
        .no-arrows::-webkit-outer-spin-button,
        .no-arrows::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .no-arrows {
            -moz-appearance: textfield;
        }
        .input-group-text {
            font-size: 0.875em;
            font-weight: bold;
        }
        .button-container {
            display: flex;
            align-items: center;
            background-color: gray;
        }
        .button-container .btn {
            margin-left: 10px;
        }
        .plant-name {
            font-style: italic;
            font-weight: bold;
        }
        .form-section {
            margin-bottom: 1rem;
        }
        .form-section h3 {
            border-bottom: 1px solid #ccc;
            padding-bottom: 0.25rem;
            margin-bottom: 0.75rem;
            display: flex;
            align-items: center;
            font-size: 1.25rem;
        }
        .form-section h3 i {
            margin-right: 0.5rem;
            color: #03a9f4;
        }
        .form-section label {
            display: block;
            margin-bottom: 0.25rem;
            font-weight: bold;
            font-size: 0.875rem;
        }
        .form-section input {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 0.875rem;
        }
        .form-section button {
            display: block;
            width: 100%;
            padding: 0.5rem;
            font-size: 1rem;
            color: white;
            background-color: gray;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .form-section button:hover {
            background-color: darkgray;
        }
        footer {
            color: white;
            text-align: center;
            padding: 10px 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        .copyright {
            color: black;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<nav>
    <ul class="navbar">
        <li style="float:right" th:if="${isLoggedIn}">
            <a th:href="@{/home}"><i class="fa fa-user"></i> <span th:text="'Welcome, ' + ${name}"></span></a>
        </li>
        <li><a th:href="@{/register}"><i class="fa fa-plus"></i>Create Account</a></li>
        <li><a th:href="@{/plants/create}"><i class="fa-solid fa-hand-holding-dollar"></i>Sell</a></li>
        <li><a th:href="@{/plants/all}"><i class="fa fa-seedling"></i> Plants </a></li>
        <li><a th:href="@{/cart}" class="cart-icon"><i class="fa fa-shopping-cart"></i> Cart<span id="cart-count" class="cart-badge">(0)</span></a></li>
    </ul>
</nav>

<div class="container mt-4">
    <h1>Place Order</h1>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
    <form th:action="@{/order}" th:object="${orderRequest}" method="post">
        <div class="form-section">
            <h3><i class="fa fa-user"></i> Personal Information</h3>
            <label>First Name: <input type="text" /></label>
            <label>Last Name: <input type="text" /></label>
            <label>Phone Number: <input type="text" /></label>
            <label>Card Number: <input type="text" /></label>
        </div>
        <div class="form-section">
            <h3><i class="fa fa-map-marker-alt"></i> Shipping Address</h3>
            <label>Country: <input type="text" th:field="*{address.country}" required /></label>
            <label>City: <input type="text" th:field="*{address.city}" required /></label>
            <label>Street: <input type="text" th:field="*{address.street}" required /></label>
            <label>Zip Code: <input type="text" th:field="*{address.zipCode}" required /></label>
        </div>
        <button type="submit">Place Order</button>
    </form>
</div>

<footer>
    <p class="copyright">&copy; 2024 IPlants. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateCartCount() {
        $.ajax({
            url: '/cart/count',
            method: 'GET',
            success: function(count) {
                $('#cart-count').text('(' + count + ')');
            },
            error: function() {
                console.error('Failed to fetch cart count');
            }
        });
    }

    $(document).ready(function() {
        updateCartCount();
    });

    function addToCart(itemId) {
        updateCartCount();
    }

    $('form').on('submit', function() {
        updateCartCount();
    });
</script>

</body>
</html>
