<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plants List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://kit.fontawesome.com/3c8e6a35e2.js" crossorigin="anonymous"></script>
    <style>
        .cart-badge {
            background-color: transparent;
            color: black;
            margin-left: 0.5mm;
            display: inline-block;
            vertical-align: middle;
        }
        .cart-icon {
            position: relative;
            display: inline-block;
        }
        .no-arrows::-webkit-outer-spin-button,
        .no-arrows::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .no-arrows {
            -moz-appearance: textfield;
        }
        .input-group-text {
            font-size: 1em;
            font-weight: bold;
        }
        .button-container {
            display: flex;
            align-items: center;
        }

        .button-container .btn {
            margin-left: 10px;
        }

        .plant-name {
            font-style: italic;
            font-weight: bold;
        }

        .card {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10px; /* Set margin to 10px to create space between cards */

        }
        .card-img-top {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .card-body {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .card-body .btn {
            flex: 1;
            margin: 5px;
        }
        .button-row {
            display: flex;
            justify-content: space-between;
        }
        .card-text {
            margin-bottom: 1rem;
        }

        .btn-primary {
            background-color: gray;
            border-color: gray;
        }
        .btn-primary:hover {
            background-color: darkgray;
            border-color: darkgray;
        }


        .btn-secondary:hover {
            background-color: gray;
            border-color: gray;
        }

        .col-md-4 {
        position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
        }
    </style>
</head>
<nav>
    <ul class="navbar">
        <li style="float:right" th:if="${isLoggedIn}">
            <a th:href="@{/home}"><i class="fa fa-user"></i> <span th:text="'Welcome, ' + ${name}"></span></a>
        </li>
        <li><a th:href="@{/register}"><i class="fa fa-plus"></i>Create Account</a></li>
        <li><a th:href="@{/plants/create}"><i class="fa-solid fa-hand-holding-dollar"></i>Sell</a></li>
        <li><a th:href="@{/plants/all}"><i class="fa fa-seedling"></i> Plants </a></li>
        <li><a th:href="@{/cart}" class="cart-icon"><i class="fa fa-shopping-cart"></i> Cart<span id="cart-count" class="cart-badge">(0)</span></a>
        </li>
    </ul>
</nav>
<body>
<div class="container mt-4">
    <h1>Plants Filter</h1>
    <form id="filterForm" action="/plants/all/filter" method="get" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="plantCategory">Category:</label>
                <select name="plantCategory" id="plantCategory" class="form-control">
                    <option value="" th:selected="${plantCategory == null}">All</option>
                    <option value="FLOWER"
                            th:selected="${plantCategory == T(edu.scoalainformala.model.PlantCategory).FLOWER}">Flower
                    </option>
                    <option value="TREE"
                            th:selected="${plantCategory == T(edu.scoalainformala.model.PlantCategory).TREE}">Tree
                    </option>
                    <option value="SHRUB"
                            th:selected="${plantCategory == T(edu.scoalainformala.model.PlantCategory).SHRUB}">Shrub
                    </option>
                    <option value="HERB"
                            th:selected="${plantCategory == T(edu.scoalainformala.model.PlantCategory).HERB}">Herb
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" th:value="${name}">
            </div>
            <div class="form-group col-md-3">
                <label for="minPrice">Min Price:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" id="minPrice" name="minPrice" step="0.01" class="form-control no-arrows"
                           th:value="${minPrice}">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="maxPrice">Max Price:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" id="maxPrice" name="maxPrice" step="0.01" class="form-control no-arrows"
                           th:value="${maxPrice}">
                </div>
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="btn btn-primary">Filter</button>
            <a href="/home" class="btn btn-primary">Main Page</a>
        </div>
    </form>

    <h1>Plants List</h1>
    <div th:if="${plants == null || #lists.isEmpty(plants)}">
        <p>No plants available.</p>
    </div>
    <div class="row" th:if="${plants != null && !#lists.isEmpty(plants)}">
        <div th:each="plant : ${plants}" class="col-md-4">
            <div th:if="${plant != null}" class="card mb-4">
                <img th:src="@{/photo/{image}(image=${plant.imageFile})}" class="card-img-top" alt="Plant Image">
                <div class="card-body">
                    <h5 class="card-title plant-name" th:text="${plant.name}">Plant Name</h5>
                    <p class="card-text" th:text="${plant.price} + ' RON'">Plant Price</p>
                    <div class="button-row">
                        <form th:action="@{/cart/add}" th:object="${cartItemRequest}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                            <input type="hidden" name="plantId" th:value="${plant.id}"/>
                            <input type="hidden" name="quantity" th:value="1"/>
                        </form>
                        <a th:href="@{'/plants/details/' + ${plant.id}}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById('filterForm').addEventListener('submit', function(event) {
        const elements = this.elements;
        for (let i = elements.length - 1; i >= 0; i--) {
            if (!elements[i].value) {
                elements[i].disabled = true;
            }
        }
    });

    function updateCartCount() {
        $.ajax({
            url: '/cart/count',
            method: 'GET',
            success: function(count) {
                $('#cart-count').text('(' + count + ')');
            },
            error: function() {
                console.error('Failed to fetch cart count');
            }
        });
    }

    $(document).ready(function() {
        updateCartCount();
    });

    function addToCart(itemId) {
        updateCartCount();
    }

    $('form').on('submit', function() {
        updateCartCount();
    });

</script>

</body>
</html>
