<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Plant Details</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <style>
        body {
            font-family: Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            overflow-x: hidden;
        }
        nav {
            width: 100%
        }
        h1 {
            margin-top: 1rem;
            font-size: 20px;
            text-align: center;
            width: 100%;
        }
        .container {
            width: 30%;
            max-width: 300px;
            background-color: #f9f9f9;
            padding: 100px;
            padding-top: 10px;
            padding-bottom: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .container p {

            margin: 0.75rem 0;

        }
        .container img {

              display: flex;
               margin: 20px;
              border-radius: 10px;
              max-width: 80%;
               height: auto;
        }
        .container h2 {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1rem;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 25px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-top: 1rem;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        .btn i {
            margin-right: 8px;
        }
        footer {
            width: 100%;
            color: white;
            text-align: center;
            padding: 1rem 0;
            position: relative;
            margin-top: 1rem;
        }

        .plant-name {
            font-style: italic;
            font-weight: bold;
            font-size: 1.8rem;
            text-align: center;
        }
        .description {
            text-align: left;
            font-size: 1.2rem;
        }
        .cart-badge {
            background-color: transparent;
            color: black;
            margin-left: 0.5mm;
            display: inline-block;
            vertical-align: middle;
        }
        .cart-icon {
            position: relative;
            display: inline-block;
        }
    </style>
</head>
<body>
<nav>
  <ul class="navbar">
    <li style="float:right" th:if="${isLoggedIn}">
      <a th:href="@{/home}"><i class="fa fa-user"></i> <span th:text="'Welcome, ' + ${name}"></span></a>
    </li>
    <li><a th:href="@{/register}"><i class="fa fa-plus"></i>Create Account</a></li>
    <li><a th:href="@{/plants/create}"><i class="fa-solid fa-hand-holding-dollar"></i>Sell</a></li>
    <li><a th:href="@{/plants/all}"><i class="fa fa-seedling"></i> Plants </a></li>
    <li><a th:href="@{/cart}" class="cart-icon"><i class="fa fa-shopping-cart"></i> Cart<span id="cart-count" class="cart-badge">(0)</span></a>
    </li>
  </ul>
</nav>

<h1>Plant Details</h1>

<div class="container" th:if="${plantByName != null}">
  <p class="plant-name" th:text="${plantByName.name}"></p>
  <div th:if="${plantByName.imageFile != null}">
    <img th:src="@{/photo/{imageFile}(imageFile=${plantByName.imageFile})}" alt="Plant Image" />
  </div>
  <p class="description"><strong>Description:</strong> <span th:text="${plantByName.description}"></span></p>
  <p><strong>Category:</strong> <span th:text="${plantByName.plantCategory}"></span></p>

  <h2>Care Instructions</h2>
  <p><i class="fas fa-tint"></i> <strong>Water:</strong> <span th:text="${plantByName.water} + ' times/week'"></span></p>
  <p><i class="fas fa-seedling"></i> <strong>Soil:</strong> <span th:text="${plantByName.soil}"></span></p>
  <p><i class="fas fa-sun"></i> <strong>Sun Exposure:</strong> <span th:text="${plantByName.sun}"></span></p>
  <p><i class="fas fa-thermometer-half"></i> <strong>Temperature:</strong> <span th:text="${plantByName.temperature} + ' °C'"></span></p>
</div>

<div class="container" th:if="${plantByName == null}">
  <p th:text="${errorMessage}">Plant details not available</p>
</div>

<a th:href="@{/plants/all}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back to Plants</a>

<footer>
  <p>&copy; 2024 IPlants. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateCartCount() {
        $.ajax({
            url: '/cart/count',
            method: 'GET',
            success: function(count) {
                $('#cart-count').text('(' + count + ')');
            },
            error: function() {
                console.error('Failed to fetch cart count');
            }
        });
    }

    $(document).ready(function() {
        updateCartCount();
    });

    function addToCart(itemId) {
        updateCartCount();
    }

    $('form').on('submit', function() {
        updateCartCount();
    });
</script>
</body>
</html>
